@media (min-width: 320px) and (max-width: 600px ) {
	/* CELULARES */
	body{
		background-color: #f9ecec;
	}

	.navbar {
		background-color: black;
	}

	.phone img {
		display: none;
	}

	.banner-text {
	  color: #ffffff;
	  width: 80vw;
	}

	.banner-text h3 {
	  text-align: right;
	  font-size: 30px;
	}

	.banner-text p {
	  font-size: 16px;
	}

	/* beneficios */

	.about-card {
		margin: 0 auto 30px auto;

	}
	/* fin beneficios */

	.features p {
		font-size: 13px;
	}

	.carousel-item img{
	  margin-bottom: 20px;
	}

	/* COMENTARIOS */



	.comment-carousel .carousel-item {
		/* background-color: peru; */
		height: 200px;
	}

	.item-group {
		/* background-color: tomato; */
		width: 450px;

		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}



	.comment-text {
		/* background-color: teal; */
		width: 250px;
		height: 200px;
		font-size: 10px;
		padding: 0 10px;
		padding-top: 10px;

	}

	.comment-text p {
		/* background-color: gold; */
	}

	.comentarios img {
	  width: 80px;
	  height: 80px;
	  border-radius: 50%;
	  margin-right: 0;
	}



}


@media (min-width: 768px) and (max-width: 1024px ) {
	/* PARA TABLETS */
	body{
		background-color: gold;
	}

	.navbar {
		background-color: black;
	}

	.banner-text {
		color: #ffffff;
		width: 80vw;
	}

	.about-card {
		margin: 0 auto 30px auto;
		width: 220px;
	}

	.about-card h4 {
	   font-size: 20px;
	}

	.about-card p {
		 font-size: 13px;
	}

	.features h2 {
		margin-top: 10px;
	}

	.features p {
		font-size: 13px;
		margin-top: -30px;
		margin-bottom: 10px;
	}

	.features-list {
		margin-top: 10px;
	}

	.features-list li {
	  color: #ffffff;
		font-size: 13px;
	}

	/* bloque contacto */
	.contact-img {
		/* background-color: teal; */
		height: 470px;
		display: flex;
		justify-content: center;
		padding: 20px 0;
	}

	.contact-img img {
		width: 320px;
		transition: all 0.4s ease-in-out;
	}

	.contact-img img:hover {
		transform: scale(1.1);
	}
	/* fin bloque contacto */


}
