@media (min-width: 320px) and (max-width: 600px ) {
	/* CELULARES */
	body{
		background-color: #f9ecec;
	}

	.navbar {
		background-color: black;
	}

	.phone img {
		display: none;
	}

	.banner-text {
	  color: #ffffff;
	  width: 80vw;
	}

	.banner-text h3 {
	  text-align: right;
	  font-size: 30px;
	}

	.banner-text p {
	  font-size: 16px;
	}

	/* beneficios */

	.about-card {
		margin: 0 auto 30px auto;

	}
	/* fin beneficios */

	.features p {
		font-size: 13px;
	}

	.carousel-item img{
	  margin-bottom: 20px;
	}

}


@media (min-width: 768px) and (max-width: 1024px ) {
	/* PARA TABLETS */
	body{
		background-color: gold;
	}

	.banner-text {
		color: #ffffff;
		width: 80vw;
	}

	.about-card {
		margin: 0 auto 30px auto;
		width: 220px;
	}

	.about-card h4 {
	   font-size: 20px;
	}

	.about-card p {
		 font-size: 13px;
	}

	.features h2 {
		margin-top: 10px;
	}

	.features p {
		font-size: 13px;
		margin-top: -30px;
		margin-bottom: 10px;
	}

	.features-list {
		margin-top: 10px;
	}

	.features-list li {
	  color: #ffffff;
		font-size: 13px;
	}


}
